/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  top: 20px;
  left: 20px;
  /*
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 20px;
  bottom: 0;
  color: #f1f1f1;
  width: 50%;
  height: 100%;
  padding: 20px;
  -ms-overflow-style: none;
  */
}
