/* You can add global styles to this file, and also import other style files */
html, body { margin: 0;padding: 0; border: 0;}
div, span, p, ul, li { box-sizing: border-box;}
body { font-size: 1.5rem;}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  top: 20px;
  left: 20px;
  /*
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 20px;
  bottom: 0;
  color: #f1f1f1;
  width: 50%;
  height: 100%;
  padding: 20px;
  -ms-overflow-style: none;
  */
}
