<div class="wrapper">
    <div class="item"><mat-icon svgIcon="chevron-left" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
    <br>
    <br>
    <br>
    <br>
    <div class="item"><mat-icon svgIcon="baseline-home" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
    <br>
    <div class="item"><mat-icon svgIcon="baseline-search" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
    <br>
    <div class="item"><mat-icon svgIcon="baseline-email" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
    <br>
    <div class="item"><mat-icon svgIcon="baseline-brightness" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
    <br>
    <div class="item"><mat-icon svgIcon="baseline-developer" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
</div>
