.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 35px;
    background-color: rgba(0,0,0,0.7);
}

.item {
   opacity: 0.6;
}